.cart-container{
    width: 300px;
    display: flex;
    margin: 10px;
}
.cart-container img{
    width: 50px;
    border-radius: 50%;
}
.cart-container h4{
    margin-left: 5px;
    font-size: 1.2em;
}